@import 'vendor/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/_variables';

html, body {
  padding-top: 25px;
  background: url(images/chicago.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-background-size: cover;
}

.hero-text {
  text-align: center;
  color: white;
  font-weight: bolder;
  font-size: 60px;
  text-shadow: 1px 0px 14px rgba(0, 0, 0, 1);
}

.home, .home p {
  color: white;
  text-align: center;
  font-size: 22px;
  text-shadow: 1px 0px 14px rgba(0, 0, 0, 1);
  a {
    color: $gray-lighter;

  }
}

.contact {
  background: $gray-dark;
  padding: 20px 0;
  border-radius: 10px;
  color: white;
}

.cubs {
  background: white;
}
