<div class="row">
<table class="table extended-forecast col-sm-12">
  <thead>
    <tr>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thu</th>
      <th>Fri</th>
      <th>Sat</th>
      <th>Sun</th>
      <th>Mon</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>77°</td>
      <td>75°</td>
      <td>78°</td>
      <td>77°</td>
      <td>-8°</td>
      <td>28°</td>
      <td>79°</td>
    </tr>
    <tr class="word">
      <td>Sunny</td>
      <td>Sunny</td>
      <td>Rainy</td>
      <td>Sunny</td>
      <td>Vortex</td>
      <td>Snow</td>
      <td>Sunny</td>
    </tr>
  </tbody>
</table>
</div>
