<h1>Tomorrow's Forecast</h1>
<div class="col-sm-5 temp">Hi: 75°</div>
<div class="col-sm-5 temp">Lo: 71°</div>
<div class="col-sm-4 words">
  <div class="word">
    Even More Sunny
  </div>
  <div>
    20% Humidity
  </div>
</div>
