<div class="row">
  &nbsp;
</div>
<div class="row">
  <div class="col-sm-4 col-sm-offset-6 contact">
    <h1>Thanks!</h1>
    You have reached the Cawthorne Brothers mortuary.  We are deeply sorry we are unable to come to the phone right now, but if you will leave your name and number, we will get back to you as soon as inhumanly possible. *beep*
  </div>
</div>
</div>
