<div class="row news">
  <h1 class="page-header">The News</h1>

  {{#link-to "article" 'a-mission-from-god' tagName="h2"}}Are you the police?{{/link-to}}
  No, ma'am. We're musicians.
  {{#link-to "article" 'a-mission-from-god'}}see more{{/link-to}}

  {{#link-to "article" 'summer' tagName="h2"}}Summer is finally here!{{/link-to}}
  After literally the coldest winter on record, summer is here.
  {{#link-to "article" 'summer'}}see more{{/link-to}}

  {{#link-to "article" 'live-reload' tagName="h2"}}Live Reload is Lightning Fast{{/link-to}}
  Live reload happens just as fast as you think!
  {{#link-to "article" 'live-reload'}}see more{{/link-to}}

  {{#link-to "article" 'ember-rocks' tagName="h2"}}Ember Rocks!{{/link-to}}
  Routing is a first class citizen in this up-and-coming framework.
  {{#link-to "article" 'ember-rocks'}}see more{{/link-to}}

  {{#link-to "article" 'dean-is-ok' tagName="h2"}}Dean's a Pretty Cool Guy{{/link-to}}
  Well, yea.
  {{#link-to "article" 'dean-is-ok'}}see more{{/link-to}}
</div>
