<div class="footer">
  by Dean Marano •
  <a href="http://twitter.com/pleiadeez">@pleiadeez</a> •
  <a href="http://slides.com/il1019/prototypes">Slides</a> •
  <a href="https://github.com/deanmarano/ember-chi">Github</a>
</div>
