<div class="row news">
  <h1 class="page-header">{{this.id}}</h1>
  <p>
  I was caught in the middle of a railroad track.
  I looked round and I knew there was no turning back.
  My mind raced and I thought what could I do,
  And I knew there was no help, no help from you.
  Sound of the drums, beating in my heart
  The thunder of guns tore me apart.
  You've been thunderstruck.
  </p>

  <p>
  Thunderstruck.
  </p>

  <p>
  It's alright, we're doin' fine
  It's alright, we're doin' fine, fine, fine
  Thunderstruck, yeah, yeah, yeah
  Thunderstruck, Thunderstruck
  Thunderstruck, baby, baby
  Thunderstruck, you've been Thunderstruck
  Thunderstruck, Thunderstruck
  You've been Thunderstruck
  </p>
</div>
