<div class="home-page">
  <h1 class="hero-text">Welcome to Chicago!</h1>
  <div class="home">
    <p>Let this page be your guide to the city.</p>
    <p>Find out about
    {{#link-to 'weather'}}weather{{/link-to}},
    {{#link-to 'news'}}news{{/link-to}},
    {{#link-to 'sports'}}sports{{/link-to}},
    and more!
    </p>
    <p>If you have any questions, feel free to {{#link-to 'contact'}}contact us{{/link-to}}.</p>
  </div>
</div>
